<% if @shoe %>
  <h1>Reviews for <%= @shoe.flavor%> - <%= @shoe.brand_name%></h1>
<% else %>
  <h1>All the Reviews </h1>
<% end %>

<ul>
<% @reviews.each do |review| %>

  <li>
    <%= @review.shoe.shoe_type%>: <%= link_to @review.title, review_path(review)%> - <%= @review.stars%>
  </li> <br>

<% end %>
</ul>