
<%=  display_header(@review)%>

  
<%= form_for :review, url: shoe_reviews_path, method: :post  do |f|%>
    
    <%= f.hidden_field :shoe_id%>

    <%= f.label :stars%>
    <%= f.number_field :stars, min: 0, max: 5%>
    </div>
    <br>
    <div>
    <%= f.label :title%>
    <%= f.text_field :title%>
    </div>
    <br>
    <div>
    <%= f.label :content%>
    <%= f.text_area :content%>
    <br>
    </div>
    <%= f.hidden_field :shoe_id%>
    <%= f.submit %>

<%end%>