<h1>All Shoes!!</h1>

<% @shoes.each do |sh| %>

  <h2><%=sh.shoe_type%> -<%=sh.brand.name%> </h2>
  <%link_to "Write a review", new_shoe_review_path(sh.id)%>
  <%=link_to 'Edit', edit_shoe_path(sh.id) %>
  <br>
  <%=link_to 'Destroy', shoe_path(sh.id),  method:  :delete %>

  <div>

  <p><%=sh.description%></p>
  </div>
  <%end%>