<h1><%= @shoe.shoe_type%>  </h1>



<h2> <%= @shoe.brand.name %> </h2>
<div>
  <p><%= @shoe.description %></p>
</div>
<h3>Added by: <%= link_to @shoe.user.username, user_path(@shoe.user)%> </h3>
<%= link_to "Edit #{@shoe.shoe_type}", edit_shoe_path(@shoe) if @shoe.user == current_user%>
<%link_to "Rated Shoes",%>

<br>

<%#= link_to "See all Reviews", shoe_reviews_path(@shoe) %>

<%= link_to "Review Shoe", new_shoe_review_path(@shoe) %>